.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}

.c-sidebar-brand .c-sidebar-brand-full:hover {
    color: inherit;
}


/* CUSTOMIZATION PERSONNALISE*/
.blue{
    color: #6cc3ca;
}
.green{
    color: #52d8a6;
}
.violet{
    color: #d783db;
}

.white{
    color: white;
}

.bg-card-blue{
    background-color: #6cc3ca !important;
}
.bg-card-green{
    background-color: #52d8a6 !important;
}
.bg-card-violet{
    background-color: #d783db !important;
}
.bg-card-white{
    background-color: #ffffff !important;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

ul {
    list-style-type: none;
}





.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



/* NOTIFICATION WITH DETAILS*/
.notification-ui a:after {
    display: none;
}

.notification-ui_icon {
    position: relative;
}
.notification-ui_icon .unread-notification {
    display: inline-block;
    height: 7px;
    width: 7px;
    border-radius: 7px;
    background-color: #66bb6a;
    position: absolute;
    top: 7px;
    left: 12px;
}
@media (min-width: 900px) {
    .notification-ui_icon .unread-notification {
        left: 20px;
    }
}

.notification-ui_dd {
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16);
    border: 0;
    max-width: 400px;
}
@media (min-width: 900px) {
    .notification-ui_dd {
        min-width: 400px;
        position: absolute;
        left: -192px;
        top: 70px;
    }
}
.notification-ui_dd:after {
    content: "";
    position: absolute;
    top: -30px;
    left: calc(50% - 7px);
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    border-left: 15px solid transparent;
}
.notification-ui_dd .notification-ui_dd-header {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}
.notification-ui_dd .notification-ui_dd-header h3 {
    margin-bottom: 0;
}
.notification-ui_dd .notification-ui_dd-content {
    max-height: 550px;
    overflow: auto;
}

.notification-list {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    border-bottom: 1px solid #ddd;
}
.notification-list--unread {
    position: relative;
    background: #f4f8fa;
}
.notification-list--unread:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% + 1px);
    border-left: 2px solid #007bff;
}
.notification-list .notification-list_img img {
    height: 42px;
    width: 42px;
    border-radius: 50px;
    margin-right: 20px;
}
.notification-list .notification-list_detail {
    margin-right: auto;
    max-width: 200px;
}
.notification-list .notification-list_detail p {
    margin-bottom: 5px;
    line-height: 1.2;
}
.notification-list .notification-list_detail .nt-link {
    border-left: 3px solid #007bff;
    line-height: 1.3;
    padding-left: 10px;
}

.img-profile {
    height: 2rem;
    width: 2rem;
}

.topbar-divider {
    width: 10px;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
}













[data-aos][data-aos][data-aos-delay="200"].aos-animate, body[data-aos-delay="200"] [data-aos].aos-animate {
    transition-delay: .2s;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-delay="200"], body[data-aos-delay="200"] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-easing=ease-in-out], body[data-aos-easing=ease-in-out] [data-aos] {
    transition-timing-function: ease-in-out;
}
[data-aos][data-aos][data-aos-duration="1000"], body[data-aos-duration="1000"] [data-aos] {
    transition-duration: 1s;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity,transform;
}
.justify-content-center {
    justify-content: center!important;
}

#schedule {
    padding: 10px 0 10px 0;
}
.section-with-bg {
    background-color: #f6f7fd;
}


#schedule .tab-pane {
    transition: ease-in-out 0.2s;
}

.tab-content>.active {
    display: block;
}

#schedule .schedule-item {
    border-bottom: 1px solid #cad4f6;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color ease-in-out 0.3s;
}

#schedule .schedule-item time {
    padding-bottom: 5px;
    display: inline-block;
}

#schedule .schedule-item h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

#schedule .schedule-item p {
    font-style: italic;
    color: #152b79;
    margin-bottom: 0;
}

#schedule .schedule-item {
    border-bottom: 1px solid #cad4f6;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color ease-in-out 0.3s;
}

#schedule .schedule-item .speaker {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 0 10px 10px 0;
}

.section-header {
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 20px;
}

.section-header::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #f82249;
    bottom: 0;
    left: calc(50% - 25px);
}

.section-header h4 {
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1px;
}

.section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
}





#alert_notifications
{
    /*position: fixed;
    top: 0;
    left: 0;
    right: 0;*/

    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    border-radius: 6px;

    z-index: 2000;
    color: #000000;
    background-color: white;
    font: normal 12px HelveticaNeve, Helvetica, Arial, sans-serif;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dbdbdb));
    background-image: -webkit-linear-gradient(top, #ffffff, #dbdbdb);
    background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb);
    background-image: -o-linear-gradient(top, #ffffff, #dbdbdb);
    background-image: -ms-linear-gradient(top, #ffffff, #dbdbdb);
    background-image: linear-gradient(top, #ffffff, #dbdbdb);

    box-shadow: 0px 4px 30px rgba(0,0,0,0.5);
}

.alert_notification
{
    cursor: pointer;
    border-bottom: 1px solid #C1C1C1;
    box-shadow: 0px 1px 0px #FFF;
    position: relative;
}

.alert_notification:last-child{
    border-bottom: none;
    box-shadow: 0px 0px 0px transparent;
}

.alert_title{
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    padding: 10px 0;

}

.alert_p{
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
}

.left1
{
    position: absolute;
    height: 100%;
    width: 30px;
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0,0,0, 0.2);
    padding: 0 10px;
}

.right1{
    margin-left: 70px;
}

.img1
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 50% 50%;
    background-size: auto 100%;
    box-shadow: rgba(0,0,0,0.4) -1px 0px 16px inset;
}

.success1
{
    background-color: #63a153;
    color: #FFFFFF;
    text-shadow: rgba(0,0,0,0.4) 0px 1px 0px;
    background-image: linear-gradient(top, #81c270, #63a153);
}

.error1
{
    background-color: #FA5650;
    color: #FFFFFF;
    text-shadow: rgba(0,0,0,0.4) 0px 1px 0px;
    background-image: linear-gradient(top, #FA5650, #D1363D);
}



/* spinner all screen*/
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}


/* recent activity */
.dashboard .filter {
    position: absolute;
    right: 0px;
    top: 15px;
}

.dashboard .filter .icon {
    color: #aab7cf;
    padding-right: 20px;
    padding-bottom: 5px;
    transition: 0.3s;
    font-size: 16px;
}

.bi-three-dots::before {
    content: "\f5d4";
}
.dropdown-menu {
    border-radius: 4px;
    padding: 10px 0;
    animation-name: dropdown-animate;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    border: 0;
    box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu-end {
    --bs-position: end;
}
.dropdown-menu .dropdown-header, .dropdown-menu .dropdown-footer {
    text-align: center;
    font-size: 15px;
    padding: 10px 25px;
}
.dashboard .filter .dropdown-header {
    padding: 8px 15px;
}
.dashboard .filter .dropdown-header h6 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #aab7cf;
    margin-bottom: 0;
    padding: 0;
}
.dashboard .filter .dropdown-item {
    padding: 8px 15px;
}
.dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
}

.card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
}
.dashboard .activity {
    font-size: 14px;
}
.dashboard .activity .activity-item .activite-label {
    color: #888;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 100px;
}
.dashboard .activity .activity-item:first-child .activite-label::before {
    top: 5px;
}
.dashboard .activity .activity-item .activite-label::before {
    content: "";
    position: absolute;
    right: -11px;
    width: 4px;
    top: 0;
    bottom: 0;
    background-color: #eceefe;
}
.dashboard .activity .activity-item .activity-badge {
    margin-top: 3px;
    z-index: 1;
    font-size: 11px;
    line-height: 0;
    border-radius: 50%;
    flex-shrink: 0;
    border: 3px solid #fff;
    flex-grow: 0;
}

.dashboard .activity .activity-item .activity-content {
    padding-left: 10px;
    padding-bottom: 20px;
}

.fw-bold {
    font-weight: 700!important;
}

.dashboard .info-card {
    padding-bottom: 10px;
}

.dashboard .card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}

.dashboard .sales-card .card-icon {
    color: #4154f1;
    background: #f6f6fe;
}

.ps-3 {
    padding-left: 1rem!important;
}

.dashboard .info-card h6 {
    font-size: 28px;
    color: #012970;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.fw-bold {
    font-weight: 700!important;
}

.pt-1 {
    padding-top: 0.25rem!important;
}
.small, small {
    font-size: .875em;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d!important;
}

.ps-1 {
    padding-left: 0.25rem!important;
}
.pt-2 {
    padding-top: 0.5rem!important;
}

